# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Environment Variables
.env
.env.*
!.env.example

# Docker
.dockerignore

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg
.eggs/
wheels/

# Unit Tests / Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VS Code
.vscode/
*.code-workspace

# PyCharm / JetBrains
.idea/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


# property_app/migrations/*.py
# !property_app/migrations/__init__.py

# Byte-compiled / optimized files
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


